body {
  font-family: "JetBrains Mono", monospace;
}

#version {
  position: fixed;
  bottom: 0;
  right: 15px;
}

#footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
}

