body {
  font-family: "JetBrains Mono", monospace;
}

#version {
  position: fixed;
  bottom: 0;
  right: 15px;
}

#footer {
  position: fixed;
  bottom: 0; 
  right: 0;
  left: 0; 
  width: 100%;
//  height: 125px;
//  font-size: 12px;
//  line-height: 50px;
  text-align: center;

}
